h3.mb-3 Shell

.form-line(*ngIf='isConPTYAvailable')
    .header
        .title 使用 ConPTY
        .description 启用实验性 Windows ConPTY API

    toggle(
        [(ngModel)]='config.store.terminal.useConPTY',
        (ngModelChange)='config.save()'
    )

.alert.alert-info.d-flex.align-items-center(*ngIf='config.store.terminal.useConPTY && isConPTYAvailable && !isConPTYStable')
    .mr-auto Windows 10 build 18309 及以上推荐使用 ConPTY

.alert.alert-info.d-flex.align-items-center(*ngIf='config.store.terminal.profile.startsWith("WSL") && (!config.store.terminal.useConPTY)')
    .mr-auto WSL 终端只支持 TrueColor 真彩
