.modal-body
    .d-flex.align-items-center.mb-3
        h3.m-0 存储库已锁定
        .ml-auto(ngbDropdown, placement='bottom-right')
            button.btn.btn-link(ngbDropdownToggle, (click)='$event.stopPropagation()')
                span(*ngIf='rememberFor') 记住 {{getRememberForDisplay(rememberFor)}}
                span(*ngIf='!rememberFor') 不要记住
            div(ngbDropdownMenu)
                button.dropdown-item(
                    (click)='rememberFor = 0',
                ) 不要记住
                button.dropdown-item(
                    *ngFor='let x of rememberOptions',
                    (click)='rememberFor = x',
                ) {{getRememberForDisplay(x)}}

    .input-group
        input.form-control.form-control-lg(
            type='password',
            autofocus,
            [(ngModel)]='passphrase',
            #input,
            placeholder='Master passphrase',
            (keyup.enter)='ok()',
            (keyup.esc)='cancel()',
        )
        .input-group-append
            button.btn.btn-secondary((click)='ok()', *ngIf='passphrase')
                i.fas.fa-check
