.container.mt-5.mb-5
    .mb-4
        .tabby-logo
        h1.tabby-title Tabby
            sup α

    .text-center.mb-5 感谢您下载 Tabby ！

    .form-line
        .header
            .title 启用分析
            .description 帮助统计 Tabby 在全世界的安装量!
        toggle([(ngModel)]='config.store.enableAnalytics')


    .form-line
        .header
            .title 启用全局热键 (#[strong Ctrl-Space])
            .description 切换 Tabby 显示或隐藏
        toggle([(ngModel)]='enableGlobalHotkey')


    .text-center.mt-5
        button.btn.btn-primary((click)='closeAndDisable()') 关闭并且不再显示
