ul.nav-tabs(ngbNav, #nav='ngbNav')
    li(ngbNavItem)
        a(ngbNavLink) 常规
        ng-template(ngbNavContent)
            .form-group
                label 主机
                input.form-control(
                    type='text',
                    [(ngModel)]='profile.options.host',
                )

            .form-group
                label 端口
                input.form-control(
                    type='number',
                    placeholder='22',
                    [(ngModel)]='profile.options.port',
                )

            stream-processing-settings([options]='profile.options')

    li(ngbNavItem)
        a(ngbNavLink) 登录脚本
        ng-template(ngbNavContent)
            login-scripts-settings([options]='profile.options')

div([ngbNavOutlet]='nav')
